nav ol.breadcrumb .breadcrumb-item{
  background: var(--ar-gradient);
  padding: 2px 10px;
  color: #fff;
}
main.academy-courses-show nav ol.breadcrumb .breadcrumb-item a{
  color: #fff !important;
}
nav ol.breadcrumb .breadcrumb-item + .breadcrumb-item:before{
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
  margin: 5px 2px;
  margin-right: -8px;
}

nav ol.breadcrumb .breadcrumb-item:first-child{
  border-radius: 0 20px 20px 0;
}
nav ol.breadcrumb .breadcrumb-item:last-child{
  border-radius: 20px 0 0 20px
}