.card.lift {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding: 0!important;
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%) !important;
}
.card.lift img.card-img{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  aspect-ratio: 16 / 9;
}
.card.lift .card-body{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1rem;
}

.card.lift .card-body > div{
  display: none;
}

.card.lift .card-body .card-subtitle{
  font-size: .8em;
  text-align: center;
  color: var(--ar-secondary);
  font-weight: 700;
  margin-top: 4px;
}

.card.lift .card-body > a[href*="categories"]{
transition: transform .35s ease-in-out;
}


.card.lift .card-body >  a[href*="categories"]:hover{
transform: scale(1.05);
}

.card.lift  .card-body .card-title{
  font-weight: 900;
  text-align: center;
  font-size: 24px;
  margin-bottom: 0;
}
.card.lift  .card-body .stretched-link:after{
  display: none;
}
.card.lift .card-footer{
  margin-top: 0 !important;
  margin-bottom: 50px;
}
.card.lift .card-footer > div:first-child{
  justify-content: center !important;
  color: #3D3535;
}
.card.lift .card-footer > div:first-child > div:first-child{
  display: none !important;
}
.card.lift .card-footer > div:first-child ins{
  font-size: 1em;
  font-weight: 700;
  color: #3D3535;
}
.card.lift .card-footer > div:last-child{
  padding-bottom: 10px!important;
  border-top: none!important;
  padding: 0 30px;
}
.card.lift .card-footer > div:last-child > div{
  column-gap: 10px;
}

.card.lift button.btn{
  display: inline-block;
    width: 50%;
}
.card.lift a.btn{
  display: block;
  width: 75%;
  margin: 0 auto;
}

main.academy-user-account-courses .card.lift .card-footer > div:first-child{
display: none !important
}
