
main.academy-courses-show > .container > .row > div:first-child > h1{
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  padding-right: 10px;

}
main.academy-courses-show>.container>.row>div:first-child>h1::before{
  content: '';
  height: 100%;
  width: 8px;
  background-color: var(--ar-primary);
  background: var(--ar-gradient);
  border-radius: 10px;
  position: absolute;
  right: -1%;
}
main.academy-courses-show > .container > .row > div:first-child > div:first-of-type div:not(:first-child){
  display: none !important;
}

main.academy-courses-show > .container > .row > div:first-child nav{
  border: none!important;
  background-color: #F8F8F8;
  border-radius: 50px;
  justify-content: space-between;
}

main.academy-courses-show > .container > .row > div:first-child nav .nav-link{
  transition: all .2s ease-in-out !important;
}
main.academy-courses-show>.container>.row>div:first-child nav .nav-link:not(.active){
  background: var(--ar-specificGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.academy-courses-show > .container > .row > div:first-child nav .nav-link.active{
  background: var(--ar-gradient);
  color: #fff!important;
  border-radius: 2rem;
}

main.academy-courses-show > .container > .row > div:first-child nav .nav-link.active::after{
  display: none !important;
}
main.academy-courses-show > .container > .row > div:last-child > div{
  border: none !important;
  border-radius: 20px !important;
  background: linear-gradient(290deg, #c6cdd4, #f4f5f7);
}
main.academy-courses-show > .container > .row > div:last-child > div > div > div:not(.plyr){
  justify-content: center;
}
main.academy-courses-show > .container > .row > div:last-child > div > div > div:not(.plyr) del{
  display: none;
}
main.academy-courses-show > .container > .row > div:last-child > div > div > div:not(.plyr) ins{
  font: 2.25em;
  font-weight: 800;
}
main.academy-courses-show > .container > .row > div:last-child > div > div .list-group li{
  display: none !important;
}
main.academy-courses-show > .container > .row > div:last-child > div > div .btn-primary{
  background-color: #0d4d5c !important;
    margin: .25rem auto;
    display: block;
    border-radius: 50px;
    box-shadow: 0 6px 2px -1px rgb(0 0 0 / 18%);
    transform: translateY(-0.1px);
    color: white !important;
    transition: transform .2s ease-in-out,opacity .2s ease-in-out, box-shadow .2s ease-in-out;
}
main.academy-courses-show > .container > .row > div:last-child > div > div .btn-primary:hover{
  transform: translateY(0);
    box-shadow: 0 2px 1px rgb(0 0 0 / 25%);
}
main.academy-courses-show > .container > .row > div:last-child > div > div .btn-primary{
  background-color: #C5B2A0  !important;
  margin: .25rem auto;
  display: block;
  border-radius: 50px;
  box-shadow: 0 6px 2px -1px rgb(0 0 0 / 18%);
  transform: translateY(-0.1px);
  color: white !important;
  transition: transform .2s ease-in-out,opacity .2s ease-in-out, box-shadow .2s ease-in-out;
}