/*=========== Right side ===========*/
main.academy-courses-show > .container > .row > div:first-child > h1{
  font-size: 4rem;
  font-weight: 500;
  position: relative;
  padding-right: 10px;

}
main.academy-courses-show>.container>.row>div:first-child>h1::before{
  content: '';
  height: 100%;
  width: 8px;
  background-color: var(--ar-primary);
  background: var(--ar-gradient);
  border-radius: 10px;
  position: absolute;
  right: -1%;
}
main.academy-courses-show > .container > .row > div:first-child > div:first-of-type div:not(:first-child){
  display: none !important;
}

main.academy-courses-show > .container > .row > div:first-child nav{
  border: none!important;
  background-color: #F8F8F8;
  border-radius: 50px;
  justify-content: space-between;
}

main.academy-courses-show > .container > .row > div:first-child nav .nav-link{
  transition: all .2s ease-in-out !important;
  border-radius: 50px;
}
main.academy-courses-show>.container>.row>div:first-child nav .nav-link:not(.active){
  background: var(--ar-specificGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--ar-primary);
}
main.academy-courses-show>.container>.row>div:first-child nav .nav-link:not(.active):hover, main.academy-courses-show>.container>.row>div:first-child nav .nav-link:not(.active):focus{
  background: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-color: #e8efef;
  color: var(--ar-primary);
}

main.academy-courses-show > .container > .row > div:first-child nav .nav-link.active{
  background: var(--ar-gradient);
  color: #fff!important;
}

main.academy-courses-show > .container > .row > div:first-child nav .nav-link.active::after{
  display: none !important;
}



@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
main.academy-courses-show > .container > .row > div:first-child > div:not(:first-of-type){
  display: none;
  opacity: 0;
}
main.academy-courses-show > .container > .row > div:first-child > div:not(:first-of-type).active{
  display: block;
  animation: fadeIn .25s ease-in-out forwards;
}


/* ----- Overview -----*/
main.academy-courses-show #overview h2, main.academy-courses-show #overview h3{
  background: linear-gradient(270deg, #4AA5C6 -9.98%, #58BFB8 23.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--ar-primary) !important;
  font-size: 2.5rem;
}
main.academy-courses-show #overview p, main.academy-courses-show #overview li{
  color: var(--ar-dark);
}
main.academy-courses-show #overview .list-style-v2 li:before{
  background-color: var(--ar-primary);
}

/* ----- Curriculum -----*/
main.academy-courses-show #curriculum > div{
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%) !important;
  border-radius: 30px !important;
}
main.academy-courses-show #curriculum > div > button{
  flex-direction: row-reverse;
}
main.academy-courses-show #curriculum > div > button > div {
  width: initial !important;
  margin-left: auto;
}
main.academy-courses-show #curriculum > div > button > div > span {
  text-align: right;
}
main.academy-courses-show #curriculum > div > button > div > span:first-child {
  font-size: 1.5em;
}
main.academy-courses-show #curriculum > div > button > span svg {
  width: 2rem;
}
main.academy-courses-show #curriculum > div a.m-chapter-item {
  border-top: 0 !important;
}
main.academy-courses-show #curriculum > div a.m-chapter-item > div:first-child .chapter-icon svg {
  stroke: var(--ar-secondary);
}
main.academy-courses-show #curriculum > div a.m-chapter-item > div:last-child {
  display: none !important;
}

/* ----- Instructors -----*/
main.academy-courses-show #instructors.active{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
main.academy-courses-show #instructors > div{
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%);
  overflow: hidden;
  transition: all .2s ease-in-out;
}
main.academy-courses-show #instructors > div > div:first-child{
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: 4px 4px 10px 3px rgb(0 0 0 / 10%);
  border: none !important;
}
main.academy-courses-show #instructors > div .media-body{
  padding-right: 1.5em;
  padding-left: 3em;
}
main.academy-courses-show #instructors > div .media-body h4{
  font-size: 1.25em;
}

/* ----- Reviews -----*/
main.academy-courses-show #reviews .review-stars svg.review-star{
  stroke: var(--ar-primary);
}
main.academy-courses-show #reviews .review-stars svg.review-star.star-active{
  fill: var(--ar-primary);
}

main.academy-courses-show #reviews > div:first-child > div:first-child > div:first-child > div{
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%) !important;
  border-radius: 30px !important;
  border: none !important;
}
main.academy-courses-show #reviews > div:first-child > div:first-child > div:first-child > div h3{
  font-size: 6em;
  font-weight: 600 !important;
}

main.academy-courses-show #reviews > div:first-child > div:first-child > div:last-child > div > div:last-child > div:last-child{
  color: #000 !important;
}
main.academy-courses-show #reviews > div:first-child > div:first-child > div:last-child > div > div:first-child > div{
  background-color: var(--ar-primary) !important;
  background: var(--ar-specificGradientReverse) !important;
}
main.academy-courses-show #reviews > div:last-child{
  border: none !important;
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%)!important;
  border-radius: 30px !important;
}
main.academy-courses-show #reviews > div:last-child input,main.academy-courses-show #reviews > div:last-child textarea{
  border-radius: 30px;
  border-color: #B8B8B8;
}

/*=========== Left side ===========*/
main.academy-courses-show > .container > .row > div:last-child > div{
  border: none!important;
  border-radius: 30px!important;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%) !important;
}
main.academy-courses-show > .container > .row > div:last-child > div > div{
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}
main.academy-courses-show > .container > .row > div:last-child > div > div > div:not(.plyr){
  justify-content: center;
}
main.academy-courses-show > .container > .row > div:last-child > div > div > div:not(.plyr) del{
  display: none;
}
main.academy-courses-show > .container > .row > div:last-child > div > div > div:not(.plyr) ins{
  font: 2.25em;
  font-weight: 800;
  color: var(--ar-dark) !important;
}
main.academy-courses-show > .container > .row > div:last-child > div > div .list-group li{
  display: none !important;
}

