
/* Main page styles*/
main.academy-contents-show > div{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 0 !important;
  margin-top: 72px !important;
}

/* Header style */
main.academy-contents-show > div > header{
  z-index:4;
  border-bottom: 4px solid var(--bs-gray-200) !important;
  height: initial;
}
main.academy-contents-show > div > header .navbar-brand-img{
  width: 96px;
}

main.academy-contents-show > div > header > div > div{
  justify-content: space-between;
}
main.academy-contents-show > div > header > div > div > div{
  margin-right: .75rem !important;
}
main.academy-contents-show > div > header > div > div > div h3{
  position: relative;
  overflow: visible;
  padding-right: 6%;
  font-weight: 600;
}
main.academy-contents-show > div > header > div > div > div h3::before{
  content: '';
  height: 100%;
  width: 5px;
  background-color: var(--ar-primary);
  background: var(--ar-gradient);
  border-radius: 10px;
  position: absolute;
  right: -10%;
}


/* General style for left side of the page */
main.academy-contents-show > div > section{
  grid-column: 2/4;
}

/*-------- Start of styling Video player section ----------*/
main.academy-contents-show > div > section:nth-of-type(1){
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container{
  max-width: none !important;
  padding: 0;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child{
  margin-left: 0;
  margin-right: 0;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div{
  display: grid;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div .alert.alert-info{
  border-radius: 50px;
  background-color: var(--ar-accent);
  color: var(--ar-light);

}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="1"]{
  order: 1;
  margin-bottom: 0 !important;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="1"] .plyr{
  border-radius: 0 !important;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="2"]{
  order: 2;
  font-size: 2.5em !important;
  font-weight: 600;
  color: var(--ar-primary) !important;
  margin-bottom: 3rem;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="3"]{
  order: 3;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="4"]{
  order: 4;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="4"] h2{
  font-size: 1.5em;
  font-weight: 600;
  color: var(--ar-dark) !important;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > [data-order="5"]{
  order: 5;
}
main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > .player-section .plyr{
  border-radius: 0 !important;
}

main.academy-contents-show > div > section:nth-of-type(1) .alert.alert-warning{
  background-color: transparent;
}

main.academy-contents-show > div > section:nth-of-type(1) > .container > .row:last-child > div > :not([data-order="1"]):not(.alert-info){
  padding: 0 2rem !important;
}
main.academy-contents-show > div > section .add-comment img{
  width: 48px;
  height: auto;
  box-shadow: 4px 4px 10px 3px rgb(0 0 0 / 10%);
}
main.academy-contents-show > div > section .comments-list > h3{
  font-size: 2.5em;
  background: linear-gradient(270deg, #4AA5C6 -9.98%, #58BFB8 23.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
main.academy-contents-show > div > section .add-comment label{
  font-size: 1.25em ;
}
main.academy-contents-show > div > section .add-comment textarea{
  min-height: 8rem;
  border-radius: 30px;
  border: 2px solid var(--ar-primary);
}
main.academy-contents-show > div > section .add-comment button.btn{
  font-size: 1.5em;
  padding: 0 1.5em;
  background: var(--ar-specificGradient);
}
main.academy-contents-show>div>section:last-of-type .container {
  max-width: none;
  padding: 0 2rem;
}

main.academy-contents-show .card{
  border: none !important;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 10%) !important;
}
main.academy-contents-show>div>section:nth-of-type(1) .card h3{
  color: var(--ar-dark);
}
main.academy-contents-show>div>section:nth-of-type(1) .card h6{
  color: var(--ar-secondary);
  font-weight: 600;
}
main.academy-contents-show>div>section:nth-of-type(1) a[download]{
  background-color: var(--ar-primary);
  color: #fff !important;
  display: inline-block !important;
  padding: 2px 1rem;
  border-radius: 20px;
  background: var(--ar-gradient);
}
main.academy-contents-show>div>section:nth-of-type(1) a[download] span{
  color: #fff !important;
}
/*-------- End of styling Video player section ----------*/

main.academy-contents-show > div > div.sidebar-collapse{
  grid-column: 1/2;
  grid-row: 1/10;
  position: sticky;
  top: 110px;
  border-left: 1px solid #f1f1f1;
  height: 100%;
}

/*-------- Start of styling Sidebar section ----------*/
main.academy-contents-show .sidebar-collapse #chaptersSidebarCollapse{
  border: none;
  box-shadow: none !important;
  height: 100% !important;
}

main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll{
  height: 100% !important;
}
main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll > div{
  background-color: var(--bs-gray-100);
  overflow: hidden;
}
main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll a.m-chapter-item{
  background-color: #fff;
  min-height: initial;
  border-right: 4px solid transparent;
  border-top: 0 !important;
}
main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll .collapse.show a.m-chapter-item:last-child{
  border-bottom: 1px solid var(--bs-gray-500) !important;
}
main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll a.m-chapter-item.active{
  border-right-color: var(--ar-primary);
  background-color: #fdfdfd;
}
main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll a.m-chapter-item s{
  text-decoration: none;
}
main.academy-contents-show .sidebar-collapse .sidebar-collapse-scroll a.m-chapter-item.finished svg{
  stroke: var(--ar-secondary);
}
main.academy-contents-show .sidebar-collapse #chaptersSidebarCollapse .sidebar-collapse-scroll > div > button{
  color: var(--ar-dark)!important;
  font-weight: 900;
  flex-direction: row-reverse;
  min-height: initial;
  border-bottom: 1px solid var(--bs-gray-500) !important;
}
main.academy-contents-show .sidebar-collapse #chaptersSidebarCollapse .sidebar-collapse-scroll > div > button svg{
  stroke: var(--ar-dark);
}
main.academy-contents-show .sidebar-collapse #chaptersSidebarCollapse .sidebar-collapse-scroll > div > button > div{
  text-align: right !important;
}
main.academy-contents-show > div > div.sidebar-collapse > button{
  border-radius: 50px 0 0 50px !important;
  margin:0;
  top:1.5%;
  display: none !important;
}
main.academy-contents-show > div > div.sidebar-collapse > #chaptersSidebarCollapse{
  width: 100%;
}
@media (min-width: 576px){
main.academy-contents-show .sidebar-collapse>.collapse,
main.academy-contents-show .sidebar-collapse>.collapse {
   transform: initial; 
}

main.academy-contents-show .sidebar-collapse>button[aria-expanded=false]{
 transform: initial; 
}
}

main.academy-contents-show .sidebar-collapse>.collapse,
main.academy-contents-show .sidebar-collapse>.collapse{
transform: initial; 
}
main.academy-contents-show .sidebar-collapse>button[aria-expanded=false]{
 transform: initial; 
}


/*-------- End of styling Sidebar section ----------*/


/*-------- Start styling mobile ------------*/
@media screen and (max-width: 767.99px) {
  main.academy-contents-show > div{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 0 !important;
  }

  main.academy-contents-show > div > header{
    position: static;
  }

  main.academy-contents-show > div > header > div > div{
    display: flex;
    flex-direction: column;
  }

  main.academy-contents-show > div > header > div > div > *{
    margin: 0 !important;
  }


  main.academy-contents-show > div > header > div > div > div:last-child{
    display: none !important;
  }

  main.academy-contents-show > div > section{
    grid-column: 1;
  }

  main.academy-contents-show > div > div.sidebar-collapse {
    position: fixed;
    grid-column:initial;
    grid-row:initial;
    top: 0 !important;
    width: 80%;
    z-index: 6;
    border-left: none;
  }
  main.academy-contents-show > div > div.sidebar-collapse > button{
    display: inline-flex !important;
    margin-top: 1rem;
    top: 0 !important;
  }
  main.academy-contents-show > div > div.sidebar-collapse > button[aria-expanded=false]{
    transform: translate(80vw);
  }
  main.academy-contents-show > div > div.sidebar-collapse > button[aria-expanded=true]{
    transform: translate(0%);
  }

  main.academy-contents-show .sidebar-collapse>.collapse, main.academy-contents-show .sidebar-collapse>#chaptersSidebarCollapse{
    transform: translate(100.5%);
  }
  main.academy-contents-show .sidebar-collapse>.collapse, main.academy-contents-show .sidebar-collapse>#chaptersSidebarCollapse.show{
    transform: translate(0);
    box-shadow: -200px 0 200px rgb(0 0 0 / 50%) !important;
  }
}
/*-------- End styling mobile ------------*/