

.instructor-container .contact-box {
  background: #fff;
  display: flex;
}

.instructor-container .contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.instructor-container .contact-right {
  flex-basis: 60%;
  padding: 80px;
  background: linear-gradient(156.54deg, #0A2237 -8.64%, #4493D0 167.87%); 
  color: #fff;
}

.instructor-container .content p {
  margin: 1rem;
  font-size: 39px;
  line-height:1px;
}

.instructor-container .text-line {
  width: 30vmin;
  height: 9px;
  background-image: linear-gradient(95.41deg, #5BC3B5 2.33%, #4493D0 119.49%); 
  border-radius:3rem;
  margin: 1.9rem 1.3rem 0rem 0rem;
}

.instructor-container .content ul {
  font-weight: 500;
  font-size: 20px;
  line-height: 47px;
  padding:10px 30px;
  }




.instructor-container h3 {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
   color: #221F1F;
   margin: 1rem;
}

.instructor-container .form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.instructor-container input , .instructor-container textarea{
  border: 1px solid #d0d2e2;
  line-height: 2;
  padding: 5px;
  border-radius: 50px;
  text-indent: 10px;

  
}
.instructor-container select {
  border: 1px solid #d0d2e2;
  line-height: 2;
  padding: 10px;
  border-radius: 50px;  
  background-color: #fff;
  color: gray;
}

.instructor-container form button {
  width: 100%;
  padding: 10px;
  color: #fff;
  background: linear-gradient(264.54deg, #0A2237 2.19%, #4493D0 118.45%);
background-blend-mode: darken;
border-radius: 50px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width:480px) {
  .instructor-container .contact-left{
    padding: 40px 20px;
  }
  .instructor-container .form-element{
    font-size: .85em;
  }
  .instructor-container .content p {
      font-size: 18px;
  }
    .instructor-container .content ul {
      font-size: 11px;
      padding:10px 30px;
    }
.instructor-container .text-line {
  margin: 1rem 0.9rem 0rem 0rem;
}
.instructor-container .contact-right {
padding:40px;
}
.instructor-container form button {
  padding: 5px;
  font-size: 15px;
}
.instructor-container input, .instructor-container textarea {
  padding:1.5px;
}
}
@media (max-width:1045px) {
  .instructor-container .contact-box {
      display: block;
  }
    
}