.contactus-container .contactus-box {
  background: #fff;
  display: flex;
  overflow-x: hidden;
}

.contactus-container .contactus-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contactus-container .contactus-right {
  position: relative;
  flex-basis: 36%;
  background-color: #0A2237;
  background: linear-gradient(156.54deg, #0A2237 -8.64%, #4493D0 167.87%); 
}
.contactus-container .contactus-right svg{
  display: block;
  position: absolute;
  bottom: 5%;
  height: 75%;
  left: 0;
}



.contactus-container h3 {
  text-align: center;
  font-weight: 500;
  font-size: 38px;
   color: #221F1F;
   margin: 1rem;
}

.contactus-container .form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contactus-container input , .contactus-container textarea{
  border: 1px solid #d0d2e2;
  line-height: 2;
  padding: 5px;
  border-radius: 50px;
  text-indent: 10px; 
}
.contactus-container textarea{
  resize: vertical;
}

.contactus-container select {
  border: 1px solid #d0d2e2;
  line-height: 2;
  padding: 10px;
  border-radius: 50px;  
  background-color: #fff;
  color: gray;
}

.contactus-container form button {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #0A2237;
  background: linear-gradient(264.54deg, #0A2237 2.19%, #4493D0 118.45%);
background-blend-mode: darken;
border-radius: 50px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width:480px) {

  .contactus-container form button {
  padding: 5px;
  font-size: 15px;
}
.contactus-container input, .contactus-container textarea {
  padding:1.5px;
}
.contactus-container .contactus-left {
  padding: 40px 16px;
}
}
@media (max-width:1045px) {
  .contactus-container .contactus-right{
    height: 228px;
  }
  .contactus-container .contactus-right svg{
    bottom: -55%;
      height: 150%;
      left: 20%;
      transform: rotate(90deg);
  }

  .contactus-container .contactus-box {
      display: block;
  }
    
}
